<!-- src/app/landing-page/landing-page.component.html -->

<!-- Header Component -->
<app-header></app-header>

<!-- Main Container -->
<div class="container">
  <!-- Introduction Section -->
  <section class="intro">
    <h1>Welcome to ProLearn</h1>
    <h3>
      ProLearn is your ultimate Learning Management System, <br>
      designed to elevate your skills, track your progress, <br>
      and achieve excellence. Join us for a seamless learning <br>
      experience with high-quality courses, interactive tools,<br>
      and expert guidance.
    </h3>
    <!-- Join Now Button -->
    <button class="join-now" (click)="navigateTo('register')">Join Now</button>
  </section>
</div>

<app-footer></app-footer>
